$max-content-width: 1300px;
$min-content-width: 800px;
$gray: #677072;
$Grey: #677072;
$Grey900: #0b0c0d;
$Grey600: #3f4445;
$Grey3: #d9dbdc;
$Grey2: #b2b8b9;
$pink: #ff3366;
$Pink300: #ff3366;
$menuActive: #c0e0fd;
$background: #0083fb;
$twelve: 0.86rem;
$f12: 0.8571428571428571rem;
$f14: 1rem;
$f16: 1.143rem;
$f18: 1.2857142857142858rem;
$f10: 0.7142857142857143rem;
$f24: 1.7142857142857142rem;
$f30: 2.142857142857143rem;
$f34: 2.4285714285714284rem;